@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

.sequence-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 4rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sequence-navigation {
  display: flex;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    margin: -1px -1px 0;
  }

  .btn {
    flex-grow: 1;
    display: inline-flex;
    position: relative;
    height: 3rem;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    &:focus {
      z-index: 1;
    }
  }

  .sequence-navigation-tabs-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    // min-width 0 prevents the flex item from overflowing the parent container
    // https://dev.to/martyhimmel/quick-tip-to-stop-flexbox-from-overflowing-peb
    min-width: 0;
  }

  .sequence-navigation-tabs {
    .btn:not(.new-unit-btn) {
      flex-basis: 100%;
      min-width: 2rem;
    }
  }

  .sequence-navigation-dropdown {
    .dropdown-menu .btn {
      flex-basis: 100%;
      min-width: 4rem;

      .unit-title {
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        min-width: 0;
        margin: 0 1rem;
        text-overflow: ellipsis;
      }

      &.btn-primary {
        background-color: $primary-500;
        color: $white;
      }
    }
  }

  .new-unit-btn {
    min-width: 200px;
  }

  .previous-btn,
  .next-btn {
    min-width: 200px;

    @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
      min-width: fit-content;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
