@import "variables";

.grading-header-title {
  font: normal $font-weight-bold 2rem/2.25rem $font-family-base;
  margin-bottom: 1.75rem;

  .grading-header-title-subtitle {
    font: normal $font-weight-normal .875rem/1.5rem $font-family-base;
    display: block;
    color: $text-color-base;
  }
}

.grading-items-policies {
  .grading-items-policies-instructions {
    font: normal $font-weight-normal .875rem/1.5rem $font-family-base;
    color: $text-color-base;
  }

  .setting-items-deprecated-setting {
    float: right;
    margin-bottom: 1.75rem;
  }

  .grading-items-policies-title {
    font: normal $font-weight-normal 1.375rem/1.5 $font-family-base;
    padding-bottom: .25rem;
    margin-bottom: .25rem;
    border-bottom: $border-width solid $light-400;
  }

  .instructions,
  strong {
    font: normal $font-weight-normal .875rem/1.5rem $font-family-base;
    color: $text-color-base;
  }
}

.grading-scale {
  display: flex;
  margin-top: 25px;
  align-items: center;

  .grading-scale-segments-and-ticks {
    display: inline-block;
    height: 50px;
    width: 100%;

    .grading-scale-tick {
      .grading-scale-tick-number {
        position: absolute;
        font-size: .6rem;
        color: $black;
        top: 100%;
        transform: translate(-50%, 1.2rem);
        white-space: nowrap;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        background-color: $gray-400;
        height: 5px;
        width: 2px;
        transform: translate(-50%, .7rem);
      }
    }

    .grading-scale-segment-content {
      position: relative;
      right: 40px;
      bottom: 7px;
      display: flex;
      flex-direction: column;
      width: 1.6rem;
      height: 1.6rem;
      font-size: .7rem;
      white-space: nowrap;
      text-align: right;
      align-items: flex-end;
    }

    .grading-scale-segment-btn-resize {
      border: none;
      outline: none;
      background-color: transparent;
      appearance: none;
      height: 100%;
      padding: 0 7px;
      width: 10px;

      &:disabled {
        color: black;
      }
    }

    .grading-scale-segment-content-title {
      border: none;
      outline: none;
      appearance: none;
      cursor: text;
    }

    .grading-scale-segment {
      height: 100%;

      @each $key, $color in $grading-scale-segment-colors {
        &.segment-#{$key} {
          background-color: $color;
        }
      }

      &:hover .grading-scale-segment-btn-remove {
        display: block;
      }

      .grading-scale-segment-btn-remove {
        display: none;
        font-size: 10px;
        line-height: 14px;
        position: absolute;
        top: -25px;
        right: -12px;
        padding: 6px;
        text-decoration: none;
      }
    }
  }
}
