@import "./breadcrumbs/Breadcrumbs";
@import "./course-sequence/CourseSequence";
@import "./add-component/AddComponent";
@import "./sidebar/Sidebar";
@import "./course-xblock/CourseXblock";

.course-unit-unpublished-alert .alert-heading {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
