%heading-h1 {
  font: 700 2.5rem/2.75rem $font-family-base;
}

%heading-h2 {
  font: 700 2rem/2.25rem $font-family-base;
}

%heading-h3 {
  font: 700 1.375rem/1.75rem $font-family-base;
}

%heading-h4 {
  font: 700 1.125rem/1.5rem $font-family-base;
}

%heading-h6 {
  font: 700 .75rem/1.25rem $font-family-base;
}

%body-large {
  font: 400 1.375rem/2.25rem $font-family-base;
}

%body-default {
  font: 400 1.125rem/1.75rem $font-family-base;
}

%body-small {
  font: 400 .875rem/1.5rem $font-family-base;
}

%text {
  font: 400 .875rem/1.5rem $font-family-base;
}
