.course-update {
  &:not(:first-child) {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid $light-400;
  }

  .course-update-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    .course-update-header__date {
      font-size: .875rem;
      line-height: 30px;
      letter-spacing: 1px;
      font-weight: 600;
    }

    .course-update-header__action {
      display: flex;
      width: auto;
      gap: 8px;
    }
  }

  .course-update-content {
    font-size: 1rem;
    line-height: 1.5rem;
    color: $gray-800;
  }
}
