.certificates {
  .section-title {
    color: $black;
  }

  .certificate-details {
    &__info {
      color: $black;
      justify-content: space-between;
      align-items: baseline;

      &__paragraph {
        flex: 1;

        &--course-number {
          color: $gray-700;
          text-align: right;
        }
      }
    }
  }

  .signatory {
    &__fields-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &__text-fields-stack {
      flex: 1;
      max-width: 18.75rem;
    }

    &__text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__image {
      display: flex;
      margin: .625rem auto;
      max-width: 23.5rem;
      width: 100%;
    }

    &__image-container {
      flex: 2;
      max-width: 18.75rem;
      margin: auto;
    }

    @media (max-width: map-get($grid-breakpoints, "lg")) {
      &__fields-container {
        flex-direction: column;
        align-items: center;
      }

      &__text-fields-stack {
        max-width: none;
      }

      &__text {
        white-space: normal;
      }

      &__image-container {
        max-width: none;
      }
    }
  }

  .certificates-card-form {
    .pgn__form-control-description,
    .pgn__form-text {
      margin-top: .62rem;
    }
  }
}
