.update-form {
  border: .0625rem solid $gray-200;
  border-radius: .375rem;
  box-shadow: 0 1px 1px $gray-200;
  background: $white;
  margin-bottom: 1.5rem;
  padding: 1rem 1.875rem;

  .datepicker-field {
    display: flex;
    align-items: center;
    gap: .5rem;

    .datepicker-field-error {
      display: flex;
      align-items: center;
      gap: .25rem;

      svg {
        color: $warning-300;
      }
    }

    .react-datepicker-popper {
      z-index: 99;
    }
  }
}
