.xblock-content {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;

  .xblock-content-iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    background-color: $white;
  }
}

.xblock-iframe-modal-wrapper {
  height: 100%;
  position: absolute;
  z-index: 99999999999;
  top: 0;
  left: 0;
  width: 100%;
}

.xblock-edit-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999999999999999;

  .xblock-content {
    height: 100%;
    width: 100%;
    position: absolute;

    iframe {
      height: 100%;
      width: 100%;
    }
  }
}
