.update-modal-body {
  .datepicker-field {
    display: flex;
    align-items: center;
    gap: .5rem;

    .datepicker-field-error {
      display: flex;
      align-items: center;
      gap: .25rem;

      svg {
        color: $warning-300;
      }
    }

    .react-datepicker-popper {
      z-index: 99;
    }
  }
}
